body{
    scroll-behavior: smooth;
}
nav{
    position: fixed;
}

nav #logo{
    width: 56px;
    border-radius: 28px;
}
.navbar-expand-lg.navbar-collapse{
    display: inline-block!important;
}
nav .collapse{
    display: inline-block;
}
nav .navbar-nav{
    align-items: center;
    
}
nav .nav-link{
    padding: 10px 0;
}
nav #search_bar_mb{
    display: none;
}
nav #search_bar_com{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 33%;
}


nav #search_bar_com .language_change{
    color: black;
    margin-left: 10px;
}
.contact_group_mb{
    display: none;
}
.contact_group_com{
    padding-top: 10px 0;
    background-color: white;
    border-radius: 5px;
    position: absolute;
    z-index: 5;
    top: calc(50vh - 75px);
    
}
.contact_group_com a{
    font-size: 1.5rem;
    color: rgb(53, 78, 190);
    margin: 0 5px;
}

.contact_group_com #fb,#line{
    font-size: 1.7rem;
    padding-top: 7px;
}

.carousel-item{
    width: 100%;
    height: calc(100vh - 82px);
}
#banner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#banner #b_2{
    object-position: top;
}
#banner .news{
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
}


@media(max-width:991px){
    nav #search_bar_mb{
        display: block;
       
    }
    nav #search_bar_mb .form-control{
        display: inline-block
    }
    nav #search_bar_mb .language_change{
        display: inline-block;
        margin-left: 15px;
        color: black;

    }
    nav #search_bar_com{
        display: none;
    }
    .contact_group_com{
        display: none;
    }
    .contact_group_mb{
        display: flex;

        list-style-type: unset;
        padding: 0;
    }
    
    .contact_group_mb a{
        font-size: 1.7rem;
        color: rgb(53, 78, 190);
        margin: 0 15px;
        
    }
    .contact_group_mb #fb,#line{
        font-size: 2rem;
        padding-top: 7px;
    }
    
    

}



@media(max-width:600px){

}