h1.ml8 {
    font-weight: 900;
    font-size: 4.5em;
    color: #fff;
    width: 3em;
    height: 3em;
}

.ml8 .letters-container {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;
    height: 1em;
}

.ml8 .letters {
    position: relative;
    z-index: 2;
    display: inline-block;
    line-height: 0.7em;
    right: -0.12em;
    top: -0.2em;
}

.ml8 .bang {
    font-size: 1.4em;
    top: auto;
    left: -0.06em;
}

.ml8 .circle {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;
    background-color: #343a40;
}

.ml8 .circle-white {
    width: 3em;
    height: 3em;
    border: 2px dashed white;
    border-radius: 2em;
}

.ml8 .circle-dark {
    background-image: url('logo/logo-03.jpg');
    background-size: cover;
    background-position: center;
    width: 2.2em;
    height: 2.2em;
    background-color: #4f7b86;
    border-radius: 3em;
    z-index: 1;
}

.ml8 .circle-dark-dashed {
    border-radius: 2.4em;
    background-color: transparent;
    border: 2px dashed white;
    width: 2.3em;
    height: 2.3em;
}
        /* Add animation to "page content" */

#loader{
    z-index: 1040;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
}        
.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s;
}

@-webkit-keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }

    to {
        bottom: 0px;
        opacity: 1
    }
}

@keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}
/* Add animation to "page content" */
