body{
    scroll-behavior: smooth;
}
.container{
    max-width: 1140px;
    width: 80%;
    margin: 0 auto;
}

header .dropdown-toggle {
    white-space: nowrap;
}
.animal_care_banner{
    width: 100%;
    height: 680px;
    position: relative;
    padding-top: 76px;
}
.animal_care_banner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.animal_care_banner .animal_care_banner_title{
    margin-bottom: 50px;
    font-size: 48px;
    font-family: 'Noto Sans TC';
    color: #212529;
    background-color: #ffc107;
    padding: 0.25em 0.4em;
    font-weight: 700;
    border-radius: .35rem;

    /* color: white;
    font-family: '微軟正黑體';
    font-size: 1.5rem;
    text-shadow: black 0.1em 0.1em 0.2em;
    font-weight: 500; */
    display: inline-block;
    position: absolute;
    z-index: 2;
    bottom: 10%;
}
#hospital .hospital_title{
    margin: 50px 0;
}
h3{
    margin: 0;
    font-size: 2.81rem;
}
h4{
    margin: 0;
    font-size: 2rem;
}
#hospital.box{
    padding: 30px 0;
    box-sizing: border-box;
}
#subsidy{
    background-image: url(img/project_pic2.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.mask{
    background-color: rgba(128, 128, 128, 0.589);
}
#subsidy_project{
    padding: 120px 0;
    box-sizing: border-box;
}
#subsidy #project_title h4{
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
}
#subsidy #project_detail{
    margin:40px 0 20px 0;

}
#subsidy .project_list{
    color: black;
    background-color: white;
    padding: 8px 10px;
    border-radius: 10px;
}
.process_text{
    margin-top: 15px;
    background-color: white;
    
}
/* .process_img{
    background-image: url('img/project_process_img.jpg');
    width: 800px;
    height: 1084px;
    background-size: cover;
    background-position: center;
    padding: 20px 0;
    border-radius: 20px;

} */

.btn-primary{
    margin-top: 15px;
    border:unset;
    padding: 8px 10px;
    border-radius: 10px;
}
.downloads{
    list-style: none;
}
.download_list{
    color: rgb(77, 75, 75);
}

@media(max-width:991px){
    #hospital{
        font-size: 0.75rem;
    }
    h3{
        margin: 0;
        font-size: 2rem;
    }
    h4{
        margin: 0;
        font-size: 1.6rem;
    }
}

@media(max-width:750px){
    #hospital{
        font-size: 0.7rem;
    }
    #hotspial .table td, .table th {
        padding: 0.5rem;
    }
}
@media(max-width:670px){
    #hospital{
        font-size: 0.55rem;
    }
}