body{
  margin: 0;
  
}
.container {
    max-width:1140px;
    width: 80%;
    margin:0 auto; 
   
}

        /* navbar*/
        header{
          width: 100vw;
        }
        header .navbar-brand {
          display: inline-block;
          padding: 0;
          margin-left: 1rem;
      }

      header .logo img {
          object-fit: cover;
          width: 60px;
          height: 60px;
          border-radius: 30px;
      }

      header .logo_text {
          display: none;
      }

      header #logo_title {
          color: rgba(255, 255, 255, .6);
          margin: 0;
          font-family: 'Noto Serif TC', serif;
      }

      header .navbar-toggler {
          position: absolute;
          right: 20px;
          top: 20px
      }

      header .dropdown-toggle {
          white-space: nowrap;
      }

      header .input-group {
          width: 70%;
      }

      header .nav-link {
          display: block;
          padding: .5rem 10px;
      }

      header nav .nav-link h6 {
          font-size: 16px;
      }

      header .form-inline {
          margin-left: 15px;
      }

      header .input-group>.custom-select:not(:last-child),
      .input-group>.form-control:not(:last-child) {
          padding: .25rem .2rem;
      }




      /* <!-- diff : icon --> */
      header .contact_group_mb {
          display: none;
      }

      .contact_group_com {
          padding-top: 10px 0;
          background-color: white;
          border-radius: 5px;
          position: absolute;
          z-index: 5;
          top: calc(50vh - 75px);

      }

      .contact_group_com a {
          font-size: 1.5rem;
          color: #343a40;
          margin: 0 5px;
      }

      .contact_group_com #fb,
      #line {
          font-size: 1.7rem;
          padding-top: 7px;
      }



      @media(max-width:991px) {
          header .logo_text {
              display: block;

          }

          .contact_group_com {
              display: none;
          }

          header .contact_group_mb {
              display: flex;
              list-style-type: none;
              padding: 0;
          }

          header .contact_group_mb a {
              font-size: 1.7rem;
              color: white;
              margin: 0 15px;

          }

          header .contact_group_mb #fb,
          #line {
              font-size: 2rem;
              padding-top: 7px;
          }

          header .contact_group_mb #email {
              font-size: 1.8rem;
              padding-top: 9px;
          }

          header .contact_group_mb #tel {
              padding-top: 9px;
          }

      }
          /* navbar */



/* banner */

/* section .img-fluid { 
  padding-top: 505px;
  
}
.banner .img-fluid-01 {
  width: 100%;
  object-fit: cover;
} */
.banner{
  position: relative;
}
img{
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
.banner .adoption_title{
  position: absolute;
  bottom: 15%;
  left: 10%;
}
.banner .badge {
  font-size: 48px;
  font-family: 'Noto Sans TC';
}
/* banner */


/* 流程圖 */

#about #process_pic{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* 流程圖 */

  

.pink-text h1{
  margin-top: 80px;
  margin-bottom: 50px;
}

section .pink-text p {
  line-height:30px;
}

section .card {
  height: 610px;
}

.pink-text h5{
  margin-top: 20px;
}

/* 留言 */
#message{
  padding: 20px 0 40px 0;
}
/* 留言 */










/* footer */

footer.container{
  max-width: 1140px;
  width: 80%;
  margin: 0 auto;
}
footer{
  background-color: #343a40;
  padding: 20px 0;
}
footer .footer_nav{
  display: flex;
  justify-content: left;
  padding: 20px 15px 0 15px;
}
footer .footer_navlist{
  margin: 5px 0;
}
footer #footer_navlist{
  font-weight: 400;
}

footer .footer_nav .footer_groups{
  display: flex;
}
footer .footer_nav ul{
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
footer .footer_nav a{
  margin-right: 15px;
  text-decoration: none;
}
footer .footer_nav a:hover{
  color: rgba(255, 255, 255, 0.733) !important;
  position: relative;
  top:2px;
  left: 1px;
}
footer .footer_nav #major_buz{
  padding:25px 0;
  margin: 0;
  display: block;
}
.font_light{
  color: rgba(255,255,255,.5) !important;
}
.font_dark{
  color: black !important;
  font-weight: 800;
}
footer .footer_info{
  margin-left: 100px;
}
footer .footer_info .address{
  margin-bottom: 14px;
}
#copy_announce{
  background-color: white;
  text-align: center;
}

@media(max-width:991px){
  footer .footer_nav {
      display: inline-flex;
      flex-direction: column-reverse;
      padding-left: calc(45% - 165px);
  
  }
  footer .footer_info{
      margin-left: 0;
      margin:0 0 35px  0;
      
  }
}
@media(max-width:600px){
  footer .footer_nav {
      padding-left: calc(50% - 100px);
  }
  footer .footer_nav ul {
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  footer .footer_nav #footer_navtitle{
      padding: 10px 0;
  }
}

/* footer */