body{
  margin: 0;
  
}
.container {
    max-width:1140px;
    margin:0 auto; 
   
}

.logo img{
  object-fit: cover;
  width: 220px;
  height: 54.3px;
  border-radius: 10px;
}

.navbar-toggler {
  position: absolute;
  right: 20px;
  top: 20px
}

.banner {
  padding-top: 55px;
}

.dropdown-toggle::after {
  display: none;
  margin-left: .255em;
  vertical-align: .255em;
  content: "";
}

.input-group {
  width: 70%;
}

nav .nav-link h6{ 
  font-size: 16px;
}

section .img-fluid { 
  padding-top: 505px;
  
}

.badge {
    margin-bottom: 50px;
    font-size: 48px;
    font-family: 'Noto Sans TC';
}

.img-fluid-01 {
  width: 100%;
  
  
  object-fit: cover;
}

.pink-text h1{
  margin-top: 80px;
  margin-bottom: 50px;
}

section .pink-text p {
  line-height:30px;
}

section .card {
  height: 610px;
}

.pink-text h5{
  margin-top: 20px;
}

footer .list-unstyle ul>li>a{
  flood-color: aliceblue;
}

.badge-2 {
  margin-bottom: 20px;
}

.row {
  padding-top:70px ;
  padding-bottom:90px ;
}
.bg-secondary {
  background-color: #343a40!important;
}
.text-white{
  color:rgba(255,255,255,0.6)!important;
}
.font-weight-bold {
  color: black;
}

.list-unstyled {
  margin-top:25px ;
  
}

/* <!-- diff : icon --> */
.contact_group_mb{
  display: none;
}

.contact_group_com{
  padding-top: 10px 0;
  background-color: white;
  border-radius: 5px;
  position: absolute;
  z-index: 5;
  top: calc(50vh - 75px);
  
}
.contact_group_com a{
  font-size: 1.5rem;
  color: rgb(53, 78, 190);
  margin: 0 5px;
}

.contact_group_com #fb,#line{
  font-size: 1.7rem;
  padding-top: 7px;
}



@media(max-width:991px){
  
  .contact_group_com{
      display: none;
  }
  .contact_group_mb{
      display: flex;

      list-style-type:none;
      padding: 0;
  }
  
  .contact_group_mb a{
      font-size: 1.7rem;
      color: rgb(53, 78, 190);
      margin: 0 15px;
      
  }
  .contact_group_mb #fb,#line{
      font-size: 2rem;
      padding-top: 7px;
  }
  
  

}



/* @media (min-width: 768px) {
  .navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    
  }
} */ */